
header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
header .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
div .burger-menu{
    text-align: left;
    flex-grow: 1;
}
div .burger-menu i{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 2rem;
}
header .logo{
    text-align: center;
    flex-grow: 10;
    margin: 15px 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 50px;
}
div.user{
    text-align: center;
    flex-grow: 1;
}
div .user i{
    background-color: white;
    color: black;
    padding: 10px 0;
    font-size: 1.5rem;
}
div.shopping-cart{
    text-align: center;
    flex-grow: 1;
}
div.shopping-cart i{
    background-color: white;
    color: black;
    padding: 10px 0;
    font-size: 1.5rem;
}
div.search{
    display:flex;
    justify-content: space-between;
    padding:12px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}
div.search p{
    font-family: Arial, Helvetica, sans-serif;
}
.nones{
    display: none;
}

/*burger desaparecerá*/