/* GENERAL */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
    /* PORTADA */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
    .portada{
    background-image: url(/public/img/home/slider\ 4.jpg);
    height: 400px;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    }
    .portada-texto{
    color: rgb(231, 231, 231);
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .petitospetshop{
     font-family: 'Pacifico', cursive;
     font-size: 45px;
    }
    .boton-portada{    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
    background: rgb(194, 61, 154);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    flex-wrap: wrap;
    align-self: auto;
    }
    .boton-portada:hover{
    background: #cb3a63;
    transition: all 0,2s;
    }
    .boton-portada{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    background: #d8436d ;
    padding: 3px;
    border-radius: 40px;
    transition: all 0.50s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    /*SECCIONES POR MASCOTA*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    body{
        width: 100%;
        height: 100%;
        letter-spacing: 0.03em;
    }
    .selecion-por-mascota-titulo{
        text-align: center;
        font-size: 20px;
        margin-top: 50px;
        font-weight: 100;
        font-family: 'Poppins', sans-serif;
    }
    .seleccion-texto{
        font-family: 'Poppins', sans-serif;
    }
    .selecionar-por-mascota{
        width: 100%;
        max-width: 1200px;
        /*height: 250px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    .selecionar-por-mascota .card{
        width: 150px;
        height: 190px;
        border-radius: 70px;
       /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
        overflow: hidden;
        text-align: center;
        transition: all 0.25s;
    }

    .selecionar-por-mascota .card img{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin: 10px;
    }
    .selecionar-por-mascota .card h4{
        font-weight: 600;
    }
    .selecionar-por-mascota .card p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    .selecionar-por-mascota .card a {
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    /*PRODUCTOS*/
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    h3{
        text-align: center;
        font-size: 20px;
        color: #000000;
        font-weight: 100;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .lo-destacado{
        display: flex;
        display: block;
        justify-content: space-between;
    }
    .ofertas{
        display: flex;
        display: block;
        justify-content: space-between;
        margin-top: 30px;
    }
    .productos{
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        position: relative;
    }
    .cuerpo-tarjeta{
        box-shadow: 0 0 0.6em rgba(90, 90, 90, 0.377);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        width: 280px;
        height: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        margin: 3px;
        cursor: pointer;
        transition-property: all;
        transition: all 0.50s;
        overflow: hidden;
        background: white;
    }
    .cuerpo-tarjeta .comprar{
        font-size: 15px;
        text-decoration: none;
        color: aliceblue;
        background: black ;
        padding: 6px;
        border-radius: 40px;
        transition: all 0,2s;
        transition: all 0.50s;
    }
    .cuerpo-tarjeta .ver{
        transition: all 0.50s;
        font-size: 15px;
        text-decoration: none;
        color: black;
        background: white;
        padding: 6px;
        border-radius: 40px;
        border-width: 1px;
        border-style: solid;
    }
   
    .descripcion{
        margin-top: 40px;
        padding: 12px;
        margin-bottom: 10px;
    }
    /*CORREO*/

    .correo{
        margin-top: 100px;
        width: 100%;
        height: 300px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .correo h3{
        color: white;
    }
    .correo p{
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .correo-email{
        color: pink;
        box-sizing: inherit;
        font-size: 30px;
        color: black;
        border-radius: 10px;
        height: 40px;
        width: 100%;
        margin-top: 60px;
        border: 0;
    }
    .correo-enviar{
        position: absolute;
        background: pink;
        width: 50px;
        height: 30px;
        border: 0;
 
    }

    /*RESPONSIVE*/
     
    /* Celulares */
    @media (min-width: 361px){
        /*SECCIONES*/
        .selecionar-por-mascota .card{
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }
        /*PRODUCTOS*/
        .cuerpo-tarjeta{
            box-shadow: 0 0 0.6em rgba(90, 90, 90, 0.377);
        }
        .selecionar-por-mascota .card{
            margin: 10px;
        }
    }   

    @media (min-width: 769px){
        /*SECCIONES*/
        .selecionar-por-mascota .card:hover{
            /*  transform: translateY(-15px); */
              box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          }
          .selecionar-por-mascota .card{
            box-shadow: none;
        }
          /*PRODUCTOS*/
        .comprar, .ver{
            opacity: 0;
        }
        .cuerpo-tarjeta:hover .comprar, .cuerpo-tarjeta:hover .ver{
            opacity: 1;
        }
        .cuerpo-tarjeta:hover{
            box-shadow: 0 0 0.6em rgba(90, 90, 90, 0.377);
        }
        .cuerpo-tarjeta a:hover{
            background: rgb(44, 44, 44);
            transition: all 0,2s;
        }
        .selecionar-por-mascota .card{
            margin: 20px;
        }
    }