<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Petitos Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/img/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c328687099.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
</head>

<body>
    <header class="header-product">
        <div class="row">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvGCpRFJnx7NwXs1M3EMoAJtliQpjvJr8vs4"
                        alt="">
                </a>
            </div>
            <form class="form-search" action="/productos" method="GET">
                <input type="text" class="input" placeholder="¿Que deseas buscar?">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
            </form>

            <div class="icons">
                <div class="user">
                    <a href="/login">
                        <i class="fas fa-user">
                            <h4>Cuenta</h4>
                        </i>
                    </a>
                </div>
                <div class="shopping-cart">
                    <a href="">
                        <i class="fas fa-shopping-cart">
                            <h4>Compras</h4>
                            <span>0</span>
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!----------------------------------Buttons bar-------------------------------------->
    <section id="menu-outer">
        <div class="table">
            <nav class="button-links">
                <a href="/">Productos</a>
                <a href="/">Servicios</a>
                <a href="/">Contacto</a>
                <a href="/">Acerca</a>
            </nav>
        </div>
    </section>
    <!----------------------------------PORTADA------------------------------------>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <section class="portada">
        <div class="portada-texto">
            <h1 class="petitospetshop">Petitos PetShop</h1>
            <a class="boton-portada" href="#">Ver más</a>
        </div>
    </section>
    <!-------------------------------SECCIONES POR MASCOSTAS------------------------------------>
    <section class="selecion-por-mascota">
        <h2 class="selecion-por-mascota-titulo">COMPRAR POR MASCOTA</h2>
        <div class="selecionar-por-mascota">

            <div class="card">
                <img src="/img/home/perro.jpg">
                <a class="seleccion-texto" href="#">PERROS</a>
            </div>

            <div class="card">
                <img src="/img/home/gatos.jpg">
                <a class="seleccion-texto" href="#">GATOS</a>
            </div>

            <div class="card">
                <img src="/img/home/conejo.jpg">
                <a class="seleccion-texto" href="#">ROEDORES</a>
            </div>

            <div class="card">
                <img src="/img/home/seccion-peces.jpg">
                <a class="seleccion-texto" href="#">ACUARIO</a>
            </div>

            <div class="card">
                <img src="/img/home/seccion-aves.jpg">
                <a class="seleccion-texto" href="#">AVES</a>
            </div>

            <div class="card">
                <img src="/img/home/seccion-reptiles.jpg">
                <a class="seleccion-texto" href="#">REPTILES</a>
            </div>
        </div>
    </section>
    <!--PRODUCTOS-------------------------------------------------->

    <section class="lo-destacado">
        <h3>LO DESTACADO</h3>
        <div class="productos">
            <div class="cuerpo-tarjeta">
                <div class="foto">
                    <img src="/img/collares/collar 7.JPG" alt="">
                </div>
                <div class="descripcion">
                    <b>Producto</b><br>
                    $$$$$$</br>
                    <br>
                    <a class="comprar" href="/">Comprar</a>
                    <a class="ver" href="/detallesDeProductos">Ver</a>
                </div>
            </div>
            <div class="productos">
                <div class="cuerpo-tarjeta">
                    <div class="foto">
                        <img src="/img/ropa/ropa 3.JPG" alt="">
                    </div>
                    <div class="descripcion">
                        <b>Producto</b><br>
                        $$$$$$</br>
                        <br>
                        <a class="comprar" href="#">Comprar</a>
                        <a class="ver" href="#">Ver</a>
                    </div>
                </div>
                <div class="productos">
                    <div class="cuerpo-tarjeta">
                        <div class="foto">
                            <img src="/img/cuchas/cucha 4.JPG" alt="">
                        </div>
                        <div class="descripcion">
                            <b>Producto</b><br>
                            $$$$$$</br>
                            <br>
                            <a class="comprar" href="#">Comprar</a>
                            <a class="ver" href="#">Ver</a>
                        </div>
                    </div>
                    <div class="productos">
                        <div class="cuerpo-tarjeta">
                            <div class="foto">
                                <img src="/img/collares/pretal 3.JPG" alt="">
                            </div>
                            <div class="descripcion">
                                <b>Producto</b><br>
                                $$$$$$</br>
                                <br>
                                <a class="comprar" href="#">Comprar</a>
                                <a class="ver" href="#">Ver</a>
                            </div>
                        </div>
    </section>
    <section class="ofertas">
        <h3>OFERTAS</h3>
        <div class="productos">
            <div class="cuerpo-tarjeta">
                <div class="foto">
                    <img src="/img/ropa/ropa 12.JPG" alt="">
                </div>
                <div class="descripcion">
                    <b>Producto</b><br>
                    $$$$$$</br>
                    <br>
                    <a class="comprar" href="#">Comprar</a>
                    <a class="ver" href="#">Ver</a>
                </div>
            </div>
            <div class="productos">
                <div class="cuerpo-tarjeta">
                    <div class="foto">
                        <img src="/img/cuchas/cucha 2.JPG" alt="">
                    </div>
                    <div class="descripcion">
                        <b>Producto</b><br>
                        $$$$$$</br>
                        <br>
                        <a class="comprar" href="#">Comprar</a>
                        <a class="ver" href="#">Ver</a>
                    </div>
                </div>
                <div class="productos">
                    <div class="cuerpo-tarjeta">
                        <div class="foto">
                            <img src="/img/collares/collar 6.JPG" alt="">
                        </div>
                        <div class="descripcion">
                            <b>Producto</b><br>
                            $$$$$$</br>
                            <br>
                            <a class="comprar" href="#">Comprar</a>
                            <a class="ver" href="#">Ver</a>
                        </div>
                    </div>
                    <div class="productos">
                        <div class="cuerpo-tarjeta">
                            <div class="foto">
                                <img src="/img/ropa/ropa 11.JPG" alt="">
                            </div>
                            <div class="descripcion">
                                <b>Producto</b><br>
                                $$$$$$</br>
                                <br>
                                <a class="comprar" href="#">Comprar</a>
                                <a class="ver" href="#">Ver</a>
                            </div>
                        </div>
    </section>
    <!--CORREO-------------------------------------------------->
    <section class="correo">
        <div class="caja-correo">
            <h3>RECIBI TODAS LAS OFERTAS</h3>
            <p>¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a disfrutarlas!</p>
            <div class="email-formpart">
                <form class="form-email" action="" method="GET">
                    <input type="email" name="correo" class="input" id="correo" placeholder="Tu email">
                    <button type="submit" class="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>