@media (min-width: 769px){
    /*----------HOME-------*/
    /*SECCIONES*/
    .selecionar-por-mascota .card:hover{
        /*  transform: translateY(-15px); */
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      }
      .selecionar-por-mascota .card{
        box-shadow: none;
    }
      /*PRODUCTOS*/
    .comprar, .ver{
        opacity: 0;
    }
    .cuerpo-tarjeta:hover .comprar, .cuerpo-tarjeta:hover .ver{
        opacity: 1;
    }
    .cuerpo-tarjeta:hover{
        box-shadow: 0 0 0.6em rgba(90, 90, 90, 0.377);
    }
    .cuerpo-tarjeta a:hover{
        background: rgb(44, 44, 44);
        transition: all 0,2s;
    }
    .selecionar-por-mascota .card{
        margin: 20px;
    }
    .burger-menu{
        display:none;
    }
    /*LOGO*/
    header .logo{
        padding: 0 50px;
        margin-bottom: 30px;
    }
    /*ICONS*/
    .icons{
        justify-content:space-evenly;
    }
    
    .shopping-cart i, .user i{
        font-size: 2rem;
    }
    /*SEACHER*/
    header .form-search{
        display: flex;
        align-items: center;
        padding: 2px;
        font-size: 11px;
        width: 30%;
        flex-grow: 2;
    }
    
    .form-search input{
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        width: 100%;
    }
    
    .fa-search{
        border: none;
        padding: 11px;
        background-color: rgb(226, 226, 226);
        color: #666;
        border-radius: 0 5px 5px 0;
    }
    
    .form-search button{
        display: flex;
        border: none;
        border-left: 1px solid rgb(226, 226, 226);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    
    header .form-search{
        display: flex;
        align-items: center;
        padding: 2px;
        font-size: 11px;
    }
    header .form-search .input{
        background-color: #FFF;
        outline: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: inherit;
    }
    
    header .form-search .submit{
        background-color: rgb(212, 78, 78);
        color: rgb(0, 0, 0);
    }
    /*ButtonBar-none*/
    .table {
        display: block;
    }
    #menu-outer p{
        display: none;
    }
    .table .ul-center{
        text-align: center;
    }
    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }
    
    li {
        float:left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111111;
    } 
    /*----------HOME-------*/
}